<header class="header d-flex align-items-center mb-5">
    <a href="https://www.unicauca.edu.co/" target="_blank" rel="noopener noreferrer">
        <img src="logoDarkBlue.png" class="logo" alt="Logo" />
    </a>
    <div class="header-info text-center">
        <h1>{{titulo}}</h1>
        <h3>{{facultad}}</h3>
    </div>
    
    <!-- Información del usuario parte derecha -->
    <div *ngIf="!isRoute('/add-reserva')"  class="user-info d-flex flex-column align-items-center">
        <i class="fa fa-user-circle user-icon"></i> <!-- Ícono de usuario -->
        <span class="user-role">{{rol}}</span>
        <span class="user-name">{{nombreUsuario}}</span>
    </div>
</header>